/* Variables CSS */
:root {
    --adminDashboard-primary: #14b8a6;
    --adminDashboard-primary-hover: #0d9488;
    --adminDashboard-primary-light: #f0fdfa;
    --adminDashboard-text: #374151;
    --adminDashboard-text-light: #6b7280;
    --adminDashboard-text-lighter: #9ca3af;
    --adminDashboard-border: #e5e7eb;
    --adminDashboard-background: #f9fafb;
    --adminDashboard-white: #ffffff;
    --adminDashboard-success: #10b981;
    --adminDashboard-danger: #ef4444;
    --adminDashboard-warning: #f59e0b;
    --adminDashboard-info: #3b82f6;
    --adminDashboard-purple: #8b5cf6;
   
    
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #2a9d8f;
    --color-secondary: #c4226b;
    --color-off-red: #9d1b55;
    --color-dark: #264653;
    --color-gray: #94a3b8;
    --color-light-blue: #a2e1e8;
    --color-brown: #9b6b70;
    --color-off-white: #f8fafc;
  
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  