.appointmentsAdmin-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: var(--clr-brand-primary-light);
  color: var(--clr-brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-shrink: 0;
}

.appointmentsAdmin-avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

