/* Variables CSS */
:root {
    --admin-primary: #14b8a6;
    --admin-primary-hover: #0d9488;
    --admin-primary-light: #f0fdfa;
    --admin-text: #374151;
    --admin-text-light: #6b7280;
    --admin-text-lighter: #9ca3af;
    --admin-border: #e5e7eb;
    --admin-background: #f9fafb;
    --admin-white: #ffffff;
    --sucess: #10b981;
    --admin-danger: #ef4444;
    --admin-warning: #f59e0b;
    --admin-info: #3b82f6;
    --admin-purple: #8b5cf6;
  }
  
  